a:link {
  text-decoration: none;
}
.row {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.num {
  flex: 0.1;
}
.picture {
  justify-content: space-between;
  flex: 0.15;
}
.info {
  flex: 0.75;
}
.info_box {
  height: 150px;
  width: 900px;
}
.info_box:hover {
  /* padding: 10px; */
  box-shadow: 0 0 10px black;
  transform: scale(1.03);
}
img {
  border-radius: 10%;
}

@media (max-width: 990px) {
  .info_box {
    width: 375px;
  }
  .num {
    flex: 0.1;
  }
  .picture {
    justify-content: space-between;
    flex: 0.2;
  }
  .info {
    flex: 0.6;
  }
}
