a:link{
    text-decoration: none;
}
.row{
    margin-top: 25px;
 display: flex;
 justify-content:space-between;
 
}
.num {
 
    flex:.1;
}
.picture{
 
    justify-content:space-between;
    flex:.15;
    
}
.info{
    flex:.75;
}
.info_box{
    height: 150px;
    width: 900px;
    
}
.info_box:hover{
    padding: 10px;
}
img{
    border-radius: 10%;
}

